{% extends "base.html" %}

{%- block content -%}
<p>Lebowski ipsum thankie… Just one thing, Dude. D'ya have to use s'many cuss words? Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac lectus quis. Wal, I lost m'chain of thought here. But—aw hell, I done innerduced him enough. Elit blandit fringilla a ut turpis. JUST BECAUSE WE'RE BEREAVED DOESN'T MEAN WE'RE SAPS! Praesent felis ligula, malesuada. Yeah? What do you think happens when you get divorced? You turn in your library card? Get a new driver's license? Stop being Jewish? Suscipit malesuada non, ultrices non urna sed orci ipsum, placerat id condimentum.
</p>

<p>
Strong men also cry… Strong men also cry. Rutrum, rhoncus ac lorem aliquam placerat. Jeffrey, you haven't gone to the doctor. Posuere neque, at dignissim magna ullamcorper in aliquam sagittis massa ac tortor ultrices. Walter, you can't do that. These guys're like me, they're pacifists. Smokey was a conscientious objector. Faucibus curabitur eu mi sapien, ut ultricies ipsum morbi eget. I didn't blame anyone for the loss of my legs, some chinaman in Korea took them from me but I went out and achieved anyway. Risus nulla nullam vel nisi.
</p>

<p>
And so, Theodore Donald Karabotsos, in accordance with what we think your dying wishes might well have been, we commit your mortal remains to the bosom of the Pacific Ocean, which you loved so well. Enim, vel auctor ante morbi id urna vel felis. Ja, und maybe vee stamp on it und skvush it, Lebowski! Lacinia placerat vestibulum turpis. Look, Larry… Have you ever heard of Vietnam? Nulla, viverra nec volutpat ac, ornare id lectus cras.
</p>

<p>
They won't hurt us, Donny. These men are cowards. Rhoncus at volutpat felis blandit in libero turpis, laoreet et molestie sed. Mind if I smoke a jay? Volutpat et erat nulla ut orci quis neque consectetur tincidunt aliquam erat volutpat donec. A fifteen-year-old? Is this your idea of a joke? Aliquam orci eget mi lobortis sed tincidunt diam. Darkness warshed over the Dude— darker'n a black steer's tookus on a moonless prairie night. There was no bottom. Mattis fusce sem quam, ultricies sed convallis ac, hendrerit eu urna curabitur.
</p>

{%- endblock -%}